/*Géneral*/

/*Header nav*/
#logo {
    margin-right: 0;        /*Retire ma marge initialisé au dekstop*/
}

nav {
    justify-content: center;     /*Remplace flex-end de la version dekstop pour centrer l'image une fois la version mobile*/
}

.container-nav{
    flex-basis: 100%;
}

.container-nav a {
    flex-basis: 50%;        /*Permet au "a" du container nav de se partager l'espace a part egale*/
    text-align: center;     /*Pour aligner les textes au centre*/
    border-bottom: 3px solid #F2F2F2;   /*disign gris en format mobile sous les "a"*/
}

.container-nav a:hover {
    border-bottom: 3px solid #0065fc;    /*Rajoute une barre bleu en dessous d'hebergement et activité quand on passe dessus*/
    border-top: 3px solid transparent;     /*Permet de desactiver l'annimation du border top du dekstop*/
}
/*Fin header nav*/

/*Formulaire de recherche*/
.loupe {
    display: none;
}

.fas.fa-search {
    background-color: inherit;
    display: inline;
}

input {
    flex-basis: 100%;   /*Pour que le formulaire prenne 100% de la taille en version mobile*/
}

form button {
    border-radius: 30%;         /*pour que le bouton passe avec les 4bords arrondis*/
    margin-left:-16px;  /*pour rapprocher le bouton de la barre de recherche*/
}
/*Fin formulaire de recherche*/
