/*Géneral*/
#contenair-page {
    padding: 0;
}

.container-recherche {
    padding: 0 32px;
}
h1 {
    font-size: 20px;
}

/*Header nav*/
#container-logo {
    margin-right: 0;        /*Retire ma marge initialisé au dekstop*/
}

header {
    justify-content: center;     /*Remplace flex-end de la version dekstop pour centrer l'image une fois la version mobile*/
}

nav {
    flex-basis: 100%;
}

.container-nav a {
    flex-basis: 50%;        /*Permet au "a" du container nav de se partager l'espace a part egale*/
    text-align: center;     /*Pour aligner les textes au centre*/
    border-bottom: 3px solid #F2F2F2;   /*disign gris en format mobile sous les "a"*/
    padding: 16px;
}

.container-nav a:hover {
    border-bottom: 3px solid #0065fc;    /*Rajoute une barre bleu en dessous d'hebergement et activité quand on passe dessus*/
    border-top: 3px solid transparent;     /*Permet de desactiver l'annimation du border top du dekstop*/
}
/*Fin header nav*/

/*Formulaire de recherche*/
.loupe {
    display: none;
}

.fas.fa-search {
    background-color: inherit;
    display: inline;
}

form input::placeholder {
    font-size: 18px;
}

form button {
    border-radius: 30%;         /*pour que le bouton passe avec les 4bords arrondis*/
    margin-left:-16px;  /*pour rapprocher le bouton de la barre de recherche*/
}
/*Fin formulaire de recherche*/

/*filtres*/
@media (max-width:508px) {
    .container-filtres h2 {         /*Afin que le titre prenne toute la place pour que les filtres passe en dessous*/
        flex-basis: 100%;
        margin: 0;
    }   
}
/*fin des filtres*/

/*Hebergement*/

.container-hebergement-marseille {
   background-color: white;
   padding: 0 32px;
}

.container-hebergement-card {
    flex-direction: column;
    margin-bottom: 32px;
    align-content: center;
}

.hebergement-card {
    max-width: 450px;
    width: 100%;
}

.hebergement-card-img img {
    height: 120px;
}
/*Fin hebergement*/

/*populaire*/
.container-most-populaire {
    border-radius: 0;
}

.most-populaire-card {
    min-width: 230px;
}

.most-populaire-card img {
    width: 60%;
}


/*fin populaire*/

/*activites*/
.container-activite-marseille {
    padding: 0 32px;
}

.container-activite-card {
    flex-direction: column;
    height: 1400px;
}

.container-card.solo {
    flex-basis: 15%;
}

.container-card.double {
    flex-basis: 30%;
}

/*footer*/
.container-footer {
    flex-direction: column;
}

.footer-list a {
    margin-bottom: 8px;
}