    /*Géneral*/
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    font-family: "Raleway" , sans-serif;
}
body {
    margin: 0;
}

a {
    color: inherit;     /*heritera pas de la couleur du parent*/
    text-decoration: none;
}

#contenair-page {
    /*max-width: 1440px;*/    /*taille max du block de page*/
    padding: 0 32px;
    margin: auto;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contenair-page p {
    margin-bottom: 32px;    /*appliquera a tout les p dans le conteneur une marge de 32px en dessous de l'element*/
    margin-top: 0px;
    font-size: 18px;
}

    /*Header Nav*/
header {
    display: flex;
    justify-content: flex-end;     /*commence par la fin du block*/
    align-items: center;           /*centre sur l'axe vertical*/
    flex-wrap: wrap;               /*passage a la ligne*/
    /*max-width: 1440px;*/      /*ne cherchera pas a s'agrandir sur des ecrans de +1440px*/
    margin: auto;
}

nav a {
    padding: 32px;
    border-top: 3px solid transparent;     /*enleve le petit effet de decalage/saut quand on passe dessus*/
}

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;     /*Rajoute une barre bleu au dessus d'hebergement et activité quand on le survol*/
    cursor: pointer;       /*pour faire un changement de cursor quand on survol le "a"*/
}

#container-logo {
    margin-right: auto;     /*va permettre de prendre toute la marge disponible pour aller se mettre sur la gauche*/
}

#logo {             
    width: 128px;      /*ajuste la taille du logo*/
}

.container-nav {
    display: flex;
}
    /*Fin header nav*/

    /*Formulaire de recherche*/
.container-recherche {
    font-weight: 500;
}

form {
    display: flex;
    margin-bottom: 32px;    /*pour faire une marge en dessous du formulaire*/
    font-size: 20px;
}

form > * {
    padding: 16px 20px;
}

form i { 
    background-color: #F2F2F2;      /*couleur de fond*/
    border-radius: 16px 0 0 16px;       /*arrondi l'angle haut et bas gauche*/
}

form input {
    border: 1px solid #F2F2F2;
    overflow: hidden;
}

form input::placeholder {
    font-weight: bold;      /*Mettre en gras le texte de recherche*/
    color: black;
}

form button {
    background-color: #0065FC;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    color: white;       /*change la couleur de la police*/
    border: none;       /*retire la bordure noir du bouton*/
    cursor: pointer;    /*change l'apparence du curseur au survol*/
    opacity: 0.9;
}

form button:hover {
    opacity: 1;         /*Rajoutera un effet au survol*/
}

.fas.fa-search {
    display: none;  /*Pour que la loupe ne s'affiche pas quand on est en dekstop*/
}
    /*Fin formulaire de recherche*/

    /*Filtre*/
.container-filtres {
    display: flex;
    align-items: center;    /*alignement a la meme hauteur au centre*/
    flex-wrap: wrap;        /*pour que quand on reduit l'ecran il ne modifie pas les block mais les mettera a la ligne*/
    gap: 16px;       /*espacement minimum entre chaque block de 16px*/
    margin-bottom: 32px;
}

.container-filtres h1 {
    margin: 0;  /*supprime les marges pour qu'il se recentre*/
}

.filtres {
    border: 2px solid #F2F2F2;
    border-radius: 32px;
    display: flex;      /*afin d'aligner l'icone et le span au centre du block*/
    align-items: center;    /*//*/
}

.filtres i {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 48px;        /*pour que les cercles sois tous de la meme taille*/
    height: 48px;       /*//*/
    display: flex;
    align-items: center;        /*pour centrer l'icone au centre de notre cercle*/
    justify-content: center;        /*//*/
    border-radius: 50%;
    margin: -2px;       /*retrait du margin pour que le cercle deborde un peux */
}

.filtres span {
    font-weight: bold;
    padding: 0 16px;      /*pour que les "block" respire mieux*/
}

.filtres:hover {
    background-color: #f3f8ff;      /*Rajoute un fond bleu tres clair au survol*/
    cursor: pointer;
    transform: scale(1.05);     /*Rajoute un effet de grossissement au survol*/
}
    /*Fin des filtres*/

    /*Information*/
.container-information {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.container-information i {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;        /*pour centrer l'icone dans le cercle*/
    justify-content: center;
}

.container-information p {
    margin: 0;
}
    /*Fin des informations*/

    /*Hebergement+pop*/
.block-hebergement-populaire {
    display: flex;      /*pour que les container sois l'un a coté de l'autre*/
    gap: 30px;
    margin-bottom: 48px;
}

.block-hebergement-populaire h2 {
    margin-top: 8px;
}

#titre-etoile {
    display: flex;
    justify-content: space-between;
}
.container-hebergement-marseille > a {  /*pour que sa touche l'enfant direct*/
    font-weight: bold;
}

.hebergement-card p, 
.hebergement-card h3,
.most-populaire-card-body p,
.most-populaire-card-body h3 {
    margin: 3px;
}

.stars .blue {
    color: #0065FC;     /*etoile en bleu*/
}

.stars .grey {
    color: #d9d9d9;     /*etoile en gris*/
}

@media (max-width: 1284px) {
    .hebergement-card h3 {
        font-size: 14px;
    }
    .hebergement-card p {
        font-size: 12px;
    }
    .most-populaire-card h3 {
        font-size: 14px;
    }
    .most-populaire-card p {
        font-size: 12px;
    }
}

@media (max-width: 1054px) {
    .hebergement-card h3 {
        font-size: 12px;
    }
    .hebergement-card p {
        font-size: 11px;
    }
    .most-populaire-card h3 {
        font-size: 12px;
    }
    .most-populaire-card p {
        font-size: 11px;
    }
}

    /*Fin d'hébergement+pop*/

    /*Hébergement*/
.container-hebergement-marseille {
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: 16px;
}

.container-hebergement-marseille {
    flex-basis: 66%;        /*pour que sur la page le container sois 2 fois plus grand que l'autre*/
}

.container-hebergement-card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-bottom: 16px;        /*Pour que le "a" ne soit pas collé*/
}

.hebergement-card {
    min-width: 150px;   /*pour l'empecher de trop retricir*/
    width: 30%;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hebergement-card-img img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;      /*zoom sur l'image pour pas la deformer*/
}
    /*Fin des hébergements*/

    /*Populaire*/
.container-most-populaire {
    flex-basis: 33%;        /*prendra que 33% de la largeur du container*/
    background-color: #F2F2F2;  
    border-radius: 16px;
    padding: 16px;
}

.container-most-populaire-card {
    display: flex;          /*card*/
    flex-direction: column; /*en colonne*/
    gap: 32px;      /*avec un espace de 32px*/
}

.most-populaire-card {
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    min-width: 308px;  
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.most-populaire-card a {
    display:flex;       /*mettra le texte a droite des images*/
}

.most-populaire-card-img {
    width: 45%;
}

.most-populaire-card img {
    height: 130px;  
    object-fit: cover;      /*zoom sur l'image pour pas deformer*/
    border-radius: 16px 0 0 16px;
    margin-right: 8px;     /*marge entre l'image et le texte*/
    width: 100%;    
}

.most-populaire-card .stars {
    margin-top: auto;   /*pour qu'elles se placent en bas du container*/
}

.most-populaire-card-body {
    width: 70%;
    display: flex;          /*afin de mettre le texte à droite de la photo en colone*/
    flex-direction: column;
    padding-left: 8px;
}

/*Fin populaire*/

/*Activité*/
.container-activite-marseille {
    display:flex;       
    flex-direction: column;     /*mettra le contenu en colonne*/
}

.container-activite-card {
    height: 480px;  /*hauteur fix au container*/
    display: flex;  
    justify-content: space-between; /*espace entre chaque contenu*/
    margin-bottom: 32px;
}

.container-card.solo { 
    display: flex;  
    flex-basis: 22%;  /*partage equitable de l'espace*/
}

.container-card.double {
    display: flex;
    flex-basis: 22%;    /*partage equitable de l'espace*/
    flex-wrap: wrap;        /*pour mettre une carte l'une sous l'autre*/
    gap: 32px;
}

.activite-card {
    width: 100%;
    position: relative;     /*occupera tout l'espace*/
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.activite-card img {
    width: 100%;        /*prendra 100% de l'espace de son container*/
    height: 94%;        /*prendra que 90% de sa hauteur*/
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
}

.activite-card h3 {
    width: 100%;
    height: 55px;   /*aura une hauteur de 55px*/
    display: flex;
    align-items: center;    /*centrera le texte*/
    padding-left: 18px;     
    position: absolute; 
    background-color: white;
    bottom: 0;  /*en bas de la carte*/
    border-radius: 0 0 16px 16px;
    margin-bottom: 0;
}

/*Fin activités*/

/*Footer*/
.container-footer {
    display: flex;
    background-color: #F2F2F2;
    height: auto;           
    /*max-width: 1440px;*/
    gap: 5%;
    margin: auto;
}

.footer-list {
    display: flex;
    flex-direction: column;     /*mettra chaque liste en colone*/
    margin-left: 48px;
    margin-right: 48px;
}

.footer-list h2 {
    margin-bottom: 10px;
}

.footer-list a {
    margin-bottom: 16px;
}
/*Fin footer*/