/*Hébergement + populaire*/
.block-hebergement-populaire {
    flex-direction: column;
}

.container-most-populaire {
    order: -1;      /*passera le container en premiere position*/
}

.hebergement-card h3 {
        font-size: 18px;
}
.hebergement-card p {
        font-size: 14px;
}
.most-populaire-card h3 {
        font-size: 18px;
}
.most-populaire-card p {
        font-size: 14px;
}

/*Hébergement*/
.hebergement-card {
    flex-basis: 48%;    /*pour avoir deux carte par ligne*/
}
/*Populaire*/

.container-most-populaire-card {
    flex-direction: column;
}

.most-populaire-card {
    align-self: center;
    width: 85%;
}
